{% extends 'base.html' %}

{% block content %}
    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    
    <div style="width: 80%; height: 70vh; margin: auto;">
        <h1>Student Lists: </h1>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
                
                {% for student in students %}
                    <tr>
                        <td>{{student.id}}</td>
                        <td><a href="{% url 'student_details' student.pk %}">{{student.name}}</a></td>
                        
                    </tr>
                {% endfor %}
                    
            </tbody>
          </table>
    </div>

{% endblock content %}
    