{% extends 'base.html' %}

{% block content %}
   <div style="width: 50%;height: 70vh; margin: auto;">
    <div style="width: 700px; box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35); padding: 20px 20px; border-radius: 10px;">
        <h1 style="margin-bottom: 50px; text-align: center;">Are you sure want to delete this?</h1>

        <form method="post">
            {% csrf_token %} 
            {{form.as_p}} 

            <div class="d-flex justify-content-center gap-5">
                <button type="submit" class="btn btn-primary btn-lg mt-3 mr-3">Yes, Sure</button>
                <button style="width: 115px;" type="submit" class="btn btn-warning btn-lg mt-3"><a style="text-decoration: none;" href="{% url 'student_details' pk=student.pk %}">Back</a></button>
            </div>
            
        </form>
    </div>
   </div>
{% endblock content %}
    
